{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

        <h2>My Upcoming Lansi Connections {{essay_id}} </h2>

        {% if essay_number >= 1 %}

            <div>
                <div style="display: inline-block; margin-right: 100px;">
                    <a href="{{url_for('essays')}}?number={{essays[0]['essay_id']}}"><img src="https://s1.postimg.org/8k4mytcslr/highschooler.jpg" alt="name" height="125" width="125"></a>
                </div>
                <div style="display:inline">
                    <p style="display: inline-block;"><b>Wenzhe Lai</b><br>
                    Wechat ID: wenzhe-lai <br>
                    Time to Meet: {{ essays[0]['meet_time'] }}
                    </p>
                </div>
            </div>

        {% else %}
            <a href="{{url_for('upload')}}">Send a connection request now!</a>
        {% endif %}

{% endblock %}
