{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}

        <h2>Matched Lansi Connections</h2>

        {% if essay_number >= 1 %}
            {% for i in range(0, essay_number) %}
            <div>
                <div style="display:inline">
                    <p style="display: inline-block;"><b>Wenzhe Lai</b><br>
                    Wechat ID: wenzhe-lai <br>
                    Last Time Connect: {{ essays[i]['meet_time'] }}
                     </p>
                </div>"
            </div>
            {% endfor %}
        {% endif %}

{% endblock %}
