{% extends "layout.html" %}

{% block title %}
    Upload Form
{% endblock %}

{% block main %}
    <header class="major">
    <center><h2>Let's connect you with someone!</h2></center>
    </header>
  <center>
  <form action="{{ url_for('upload_form') }}" id="info" method="post">
    <fieldset>
            <h1>Wechat ID:</h1>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="wechat" type="text"/>
            </div>
            <h1>What is your current level of Chinese fluency?</h1>
                 <div class="form-group">
                    <select name= "ability">
                    <option value= "1">Low</option>
                    <option value= "2">Intermediate</option>
                    <option value= "3">Advanced</option>
                    </select>
                </div>

            <br>
            <h1>When would be the best time to meet? </h1>
            <h5><font size=-4>(Because of time differences, only certain time periods are provided)</font></h5>
            <div class="form-group">
                <select name= "meet_time">
                    <option value= "8-9AM Monday EST">8-9AM Monday EST</option>
                    <option value= "9-10AM Monday EST">9-10AM Monday EST</option>
                    <option value= "10-11AM Monday EST">10-11AM Monday EST</option>
                    <option value= "11-12AM Monday EST">11-12AM Monday EST</option>
                    <option value= "8-9AM Tuesday EST">8-9AM Tuesday EST</option>
                    <option value= "9-10AM Tuesday EST">9-10AM Tuesday EST</option>
                    <option value= "10-11AM Tuesday EST">10-11AM Tuesday EST</option>
                    <option value= "11-12AM Tuesday EST">11-12AM Tuesday EST</option>
                    <option value= "8-9AM Wednesday EST">8-9AM Wednesday EST</option>
                    <option value= "9-10AM Wednesday EST">9-10AM Wednesday EST</option>
                    <option value= "10-11AM Wednesday EST">10-11AM Wednesday EST</option>
                    <option value= "11-12AM Wednesday EST">11-12AM Wednesday EST</option>
                    <option value= "8-9AM Thursday EST">8-9AM Thursday EST</option>
                    <option value= "9-10AM Thursday EST">9-10AM Thursday EST</option>
                    <option value= "10-11AM Thursday EST">10-11AM Thursday EST</option>
                    <option value= "11-12AM Thursday EST">11-12AM Thursday EST</option>
                    <option value= "8-9AM Friday EST">8-9AM Friday EST</option>
                    <option value= "9-10AM Friday EST">9-10AM Friday EST</option>
                    <option value= "10-11AM Friday EST">10-11AM Friday EST</option>
                    <option value= "11-12AM Friday EST">11-12AM Friday EST</option>
                    <option value= "8-9AM Saturday EST">8-9AM Saturday EST</option>
                    <option value= "9-10AM Saturday EST">9-10AM Saturday EST</option>
                    <option value= "10-11AM Saturday EST">10-11AM Saturday EST</option>
                    <option value= "11-12AM Saturday EST">11-12AM Saturday EST</option>
                    <option value= "8-9AM Sunday EST">8-9AM Sunday EST</option>
                    <option value= "9-10AM Sunday EST">9-10AM Sunday EST</option>
                    <option value= "10-11AM Sunday EST">10-11AM Sunday EST</option>
                    <option value= "11-12AM Sunday EST">11-12AM Sunday EST</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <button class="button" type="submit">Submit</button>
            </div>
        </fieldset>
  </form>
  </center>

      <!--Javascript Client-Side form validation, to make sure date and topic aren't empty-->
     <script>
            var form = document.getElementById('info');
            form.onsubmit = function() {
                if (form.date.value == '')
                {
                    alert('Please enter a date');
                    return false;
                }
                else if (form.user_category.value == '')
                {
                    alert('Please choose a category');
                    return false;
                }
                return true;
            };
    </script>
{% endblock %}
